header{
  background: #111;
  width: 100%;
  height: 100px;
}

.page-wrap{
  padding: 2rem 0;
}

header .top-bar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
	background:white;
	color:#666666;
	line-height:22px;
	font-size:16px;
	text-align:left;
}

/*      ---------------------------- sidebar ------------------------ */
#sidebar {
	border:1px solid #bbb;
	padding: 10px;
	margin:10px 0 10px 0;
	background: #fff;
	font-size: 14px;
}

#sidebar h6 {
	display: block;
	-webkit-margin-after: 1.5em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
    font-size:115%;
	background: url(images/bg_blue.png) repeat-x scroll 0 0;
	padding: 5px;

}

/*      ---------------------------- footer ------------------------ */
/* #footer {font-size:72%; text-align:center;} */

/*
header .top-bar li {
  position: relative;
}

header .top-bar li a {
  padding: 0.25rem 1rem;
  color: #fff;
}

header .top-bar li:first-child a {
  padding-left: 0;
}

header .top-bar li:last-child a {
  padding-right: 0;
}

header .top-bar li .sub-menu {
  display: none;
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}

header .top-bar .menu-item-has-children:hover .sub-menu {
  display: block;
}
*/
