header{
  background: #111;
  width: 100%;
  height: 100px;
}

.page-wrap{
  padding: 2rem 0;
}

header .top-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .top-bar li a {
  padding: 0 1rem;
}
